{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="container mt-5">
    <div class="container box ">
        <h1 class="title algolia-lvl0"><p>Edit {{ form.hostname.data }} server</p></h1>
    </div>
    <div class="container box ">
        {% if form.errors %}
            <div class="card">
                <div class="card-content">
                    <label class="label">Check that these parameters are correct:</label>
                    <article class="message is-danger">
                        <div class="message-body">
                        {% for error in form.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </div>
                </article>
                </div>
            </div>
            <br>
        {% endif %}
    <form action="{{ url_for('edit_server', id=server.id) }}" method="POST">
        {{ form.hidden_tag() }}

        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Hostname</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  {{ form.hostname(class="input", type="text", placeholder="example-hostname") }}
                </p>
              </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Domain</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  {{ form.domain(class="input", type="text", placeholder="example.com") }}
                </p>
              </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Purpose</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  {{ form.purpose(class="input", type="text", placeholder="Web Server") }}
                </p>
              </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">IP address</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control">
                  {{ form.ip_address(class="input", type="text", placeholder="22") }}
                </p>
              </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">SSH Port</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {{ form.ssh_port(class="input", type="text", placeholder="192.168.1.1") }}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Operating System</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {{ form.os(class="input", type="text", placeholder="Linux") }}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Number of Cores</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {{ form.cores(class="input", type="text", placeholder="4") }}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">RAM</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {{ form.ram(class="input", type="text", placeholder="8 GB") }}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">ROM</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {{ form.rom(class="input", type="text", placeholder="256 GB") }}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Datacenter</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {{ form.datacenter(class="input", type="text", placeholder="Datacenter Name") }}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Owner</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {{ form.owner(class="input", type="text", placeholder="John Doe") }}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Comment</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {{ form.comment(class="input", type="text", placeholder="Additional information") }}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Superuser Login</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        {{ form.superuser_login(class="input", type="text", placeholder="admin") }}
                    </p>
                </div>
            </div>
        </div>
    
        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Superuser Password</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <p class="control">
                        <input class="input" type="text" name="superuser_password" placeholder="********" value="{{ form.superuser_password.data }}">
                    </p>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column">
                <button class="button is-fullwidth is-primary" type="submit"><span>Save changes</span></button>
            </div>
            <div class="column">
                <a href="{{ url_for('dashboard') }}" class="button is-fullwidth is-link">Back to server list</a>
            </div>
        </div>

    </form>
</div><br>

</div>
{% endblock %}
