{% extends "base.html" %}
{% block content %}
{% include "navbar.html" %}
<div class="container mt-5">
    <div class="container box ">
        <h1 class="title algolia-lvl0"><p>List of User</p></h1>
    </div>
    <div class="container box">
        <div class="columns is-gapless box has-background-light">
            <div class="column is-one-quarter">
                <strong>Username</strong>
            </div>
            <div class="column is-one-quarter">
                <strong>Email</strong>
            </div>
            <div class="column is-one-quarter">
                <strong>Role</strong>
            </div>
            <div class="column is-one-quarter">
                <strong>Actions</strong>
            </div>
        </div>
    {% for user in users %}
    <div class="columns is-gapless box">
        <div class="column is-one-quarter">
            {{ user.username }}
        </div>
        <div class="column is-one-quarter">
            {{ user.email }}
        </div>
        <div class="column is-one-quarter">
            {{ user.role }}
        </div>
        <div class="column is-one-quarter">
            <div class="columns">
                <div class="column">
                    <a href="{{ url_for('edit_user', id=user.id) }}" class="card-footer-item button is-success"><i class="fa-solid fa-pen-to-square"></i></a>
                </div>
                <div class="column">
                    <a href="{{ url_for('delete_user', id=user.id) }}" class="card-footer-item button is-danger"><i class="fa-solid fa-trash"></i></a>
                </div>
                <div class="column">
                    <a href="#" class="card-footer-item button is-info generate-password-button" data-user-id="{{ user.id }}"><i class="fa-solid fa-key"></i>&nbsp;Generate password</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
<div id="passwordModal" class="modal">
    <div class="modal-background"></div>
    <div class="modal-card">
        <header class="modal-card-head">
        <p class="modal-card-title">Generated Password</p>
        </header>
        <section class="modal-card-body">
        <p id="generatedPassword"></p>
        </section>
        <footer class="modal-card-foot">
        <button class="button is-success" id="copyPassword">Copy Password</button>
        <button class="button" id="closeModal">Close</button>
        </footer>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const generateButtons = document.querySelectorAll(".generate-password-button");

    generateButtons.forEach(button => {
    button.addEventListener("click", async (event) => {
        event.preventDefault();
        
        const userId = button.dataset.userId;
        const response = await fetch(`/admin/users/${userId}/generate_password`, {
        method: "POST"
        });
        
        if (response.ok) {
        const data = await response.json();
        const generatedPassword = data.generated_password;
        
        const passwordModal = document.getElementById("passwordModal");
        const generatedPasswordElement = document.getElementById("generatedPassword");
        const copyPasswordButton = document.getElementById("copyPassword");
        
        generatedPasswordElement.textContent = generatedPassword;
        
        copyPasswordButton.addEventListener("click", () => {
            const tempTextarea = document.createElement("textarea");
            tempTextarea.value = generatedPassword;
            document.body.appendChild(tempTextarea);
            tempTextarea.select();
            document.execCommand("copy");
            document.body.removeChild(tempTextarea);
            alert("Password copied to clipboard!");
        });
        
        passwordModal.classList.add("is-active");
        
        const closeModalButton = document.getElementById("closeModal");
        closeModalButton.addEventListener("click", () => {
            passwordModal.classList.remove("is-active");
        });
        }
    });
    });
});
</script>
    
{% endblock %}
