{% extends "base.html" %}

{% block content %}
<div class="hero is-fullheight">
    <div class="hero-body is-justify-content-center is-align-items-center">
        <form method="post" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <h1 class="title">Sign up</h1>
            <div class="columns is-flex is-flex-direction-column box">
                <div class="column">
                    <label for="Name">Username</label>
                    <input class="input is-primary" name="username" type="text" placeholder="Enter Name">
                </div>
                <div class="column">
                    <label for="email">Email</label>
                    <input class="input is-primary" name="email" type="email" placeholder="Email address">
                </div>
                <div class="column">
                    <label for="Name">Password</label>
                    <input class="input is-primary" name="password" type="password" placeholder="Password">
                </div>
                <div class="column">
                    <label for="Name">Confirm Password</label>
                    <input class="input is-primary" name="confirm_password" type="password" placeholder="Password">
                </div>
                <div class="column">
                    <button class="button is-primary is-fullwidth" type="submit">Create an account</button>
                </div>
                <div class="has-text-centered">
                    <p> Already have an account?  <a href="{{ url_for('login') }}" class="has-text-primary">Login</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
  </div>
  {% endblock content %}